[Unit]
Description=Service to monitor 'test' process and report to API
Requires=network.target

[Service]
ExecStart=/usr/local/bin/monitor_test_process.sh
Type=oneshot
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
